@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=New+Tegomin&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'New Tegomin', serif;
  font-style: normal;
  font-weight: 400;
    background-color: #212121;
}
p {
    margin: 5px 0 5px 0;
    line-height: 150%;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
#polaroid-grid {
    display: grid;
    outline: none;
    padding: 100px;
    height: 2000px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%%;
}
.image-link.right {
    margin: 0 40% 0 15%;
}
.image-link.left {
    margin: 0 15% 0 40%;
}
.polaroid {
    max-width: 100%;
}
.polaroid.right {
    transform: rotate(10deg);
}
.polaroid.left {
    transform: rotate(-10deg);
}
.landing {
    background-color: #212121;
}
.header {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 25px; 
  text-align: left; 
  background: #212121; 
  color: whitesmoke; 
}
.header h1 {
  font-size: 40px;
  margin: 0;
  font-family: 'East Sea Dokdo', serif;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #212121;
}
.footer h2 {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'East Sea Dokdo', serif;
}
.footer a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'East Sea Dokdo', serif;
    font-size: 30px;
}
.links {
    margin-top: 0;
    font-size: 0.75rem;
    text-align: right;
    color: #4B4E61;
}
.links a {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.blurb {
    text-align: center;
    font-size: 70px;
    color: whitesmoke;
    margin: 40px 300px 40px 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.poem {
    text-align: left;
    color: #212121;
    background-color: whitesmoke;
    padding: 20px 550px 20px 550px;
}